
/blueprints
/Distant_Horizons_server_data
/essential
/journeymap
/logs
/saves
/schematics
/screenshots
/resourcepacks
options.txt
whitelist.json
usernamecache.json
usercache.json
user-prefs.json
servers.dat
servers.dat_old
servers.essential.dat
hs_err_pid7720.log
minecraftinstance.json
/crash-reports
*.log
